@function edge-triangles() {
  @return polygon(
    0% 0%,
    8% 4%,
    0% 12%,
    12% 18%,
    0% 22%,
    10% 28%,
    0% 34%,
    14% 38%,
    0% 44%,
    10% 50%,
    0% 56%,
    12% 60%,
    0% 66%,
    8% 72%,
    0% 78%,
    14% 82%,
    0% 88%,
    10% 94%,
    0% 100%,
    /* Left edge */ 100% 100%,
    92% 96%,
    100% 88%,
    86% 82%,
    100% 76%,
    90% 70%,
    100% 64%,
    88% 58%,
    100% 52%,
    90% 46%,
    100% 40%,
    86% 34%,
    100% 28%,
    92% 22%,
    100% 16%,
    88% 10%,
    100% 4%,
    92% 0% /* Right edge */
  );
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.bounce {
  animation: bounce 1.25s 2 ease-in-out;
}
