@import '../node_modules/bootstrap/scss/bootstrap';
@import './animations';
@import './fonts';
@import './theme.scss';

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  @extend .comfortaa-300;
  background-image: url('/assets/Background.jpeg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  main {
    @extend .mx-auto;
    max-width: 1200px;
  }
}

video {
  @extend .object-fit-contain, .border, .border-3, .deco;
  width: 100%;
}

.noir-video {
  transform-origin: center;
  will-change: transform;
  backface-visibility: hidden;
}

.los-angeles {
  transform: rotate(-1deg);
}
.jazz {
  transform: rotate(1deg);
}
.desert {
  transform: rotate(-2deg);
}
.co-springs {
  transform: rotate(3deg);
}

@include media-breakpoint-up(lg) {
  .los-angeles {
    transform: rotate(-1deg) translateX(10px);
  }
  .jazz {
    transform: rotate(1deg) translateX(-35px);
  }
  .desert {
    transform: rotate(-2deg) translateX(10px) translateY(-20px);
  }
  .co-springs {
    transform: rotate(3deg) translateX(-25px);
  }
}

button.neon {
  color: white;
  font-size: 2em;
  text-shadow: 0 0 5px #9400d3, 0 0 15px #9400d3, 0 0 20px #9400d3,
    0 0 40px #9400d3, 0 0 60px #8a2be2, 0 0 10px #9932cc, 0 0 98px #8a2be2;
}

svg.neon-chevron {
  width: 35px;
  height: 35px;
  filter: url(#neon-glow);
}

.content {
  .row {
    @extend .align-items-center, .pb-2;
  }
  section {
    @extend .col-md-6;
    h2 {
      @include font-size(3rem);
      @extend .pt-3;
    }
    img {
      @extend .img-fluid, .border, .border-3, .mx-auto, .d-block;
      max-height: 450px;
    }
  }
}

.poirot {
  @extend .border, .border-3, .deco;
  max-width: 250px;
}

.not-found {
  max-width: 550px;
  h1,
  h2,
  h3,
  a {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  a {
    @include font-size(3rem);
  }
}
